@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: auto;
}

/* File icons */
.icon-folder {
  color: #f8d775;
}

.icon-doc {
  color: #4b96e6;
}

.icon-pdf {
  color: #e64b4b;
}

.icon-link {
  color: #4be6a3;
}
